<div class="row">
	<div class="col-lg-12 jumbotron text-center">
    	<h2>Which language do you want to learn?</h2>
    </div>
    <div class="col-lg-12">
    	<div class="row">
    		<div class="col-lg-5 jumbotron" ng-click="alertExample()" ng-repeat="course in courses">
    			<div class="row">
					<div class="col-lg-6">
						<img src="assets/images/Flag_of_the_United_States.png" style="width: 180px; height: 110px;" class="img-thumbnail" alt="Cinque Terre">
					</div>
					<div class="col-lg-6">
						<h3>{{course.name}}</h3>
					</div>
				</div>
			</div>
    		<div class="col-lg-5 jumbotron" id="englishCourse" ng-click="alertExample()">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/images/Flag_of_the_United_States.png" style="width: 180px; height: 110px;" class="img-thumbnail" alt="Cinque Terre">
					</div>
					<div class="col-lg-6">
						<h3>English</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-2 jumbotron">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/images/Flag_of_Spain.png" style="width: 180px; height: 110px;" class="img-thumbnail" alt="Cinque Terre">
					</div>
					<div class="col-lg-6">
						<h3>Español</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-5 jumbotron">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/images/Flag_of_France.png" style="width: 180px; height: 110px;" class="img-thumbnail" alt="Cinque Terre">
					</div>
					<div class="col-lg-6">
						<h3>Français</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-2 jumbotron">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/images/Flag_of_Portugal.png" style="width: 180px; height: 110px;" class="img-thumbnail" alt="Cinque Terre">
					</div>
					<div class="col-lg-6">
						<h3>Português</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-5 jumbotron">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/images/Flag_of_Italy.png" style="width: 180px; height: 110px;" class="img-thumbnail" alt="Cinque Terre">
					</div>
					<div class="col-lg-6">
						<h3>Italiano</h3>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-2 jumbotron">
				<div class="row">
					<div class="col-lg-6">
						<img src="assets/images/Flag_of_Germany.png" class="img-thumbnail" alt="Cinque Terre">
					</div>
					<div class="col-lg-6">
						<h3>Deutsch</h3>
					</div>
				</div>
			</div>
		</div>
</div>

