<div class="container-fluid">
	<div class="jumbotron col-lg-8 col-lg-offset-2">
		<div class="row">
			<form name="signInForm" novalidate ng-submit="signIn()">
				<div class="form-group col-lg-6">
				  <label for="usr">User:</label>
				  <input type="text" placeholder="Username" class="form-control" id="usr" name="name" ng-model="user.username" aria-describedby="email-addon">
				</div>
				<div class="form-group col-lg-6">
				  <label for="pwd">Password:</label>
				  <input type="password" placeholder="Password" class="form-control" id="pwd" name="password" ng-model="user.password">
				</div>
				<div class="form-group col-lg-4 col-lg-offset-5">
				  <input type="submit" class="btn btn-success" value="Log In">
				</div>
			</form>
			<div class="form-group col-lg-4 col-lg-offset-4">
			  <input type="submit" style="width:180px" class="btn btn-info" value="Forgot Password?">
			</div>
		</div>
	</div>
</div>